@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        @*<ul class="nav navbar-nav">

            <li>@Html.ActionLink("Users", "Index", "User")</li>
            <li>@Html.ActionLink("Groups", "Index", "Group")</li>
            <li>@Html.ActionLink("Books", "Index", "Books")</li>
            <li>@Html.ActionLink("Bootstrap", "Index", "Bootstrap")</li>
        </ul>*@

        <ul class="nav navbar-nav nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Groups
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("View List", "Index", "Group")</li>
                    <li>@Html.ActionLink("Create New", "Create", "Group")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Books
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("View List", "Index", "Books")</li>
                    <li>@Html.ActionLink("Create New", "Create", "Books")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Movies
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("View List", "Index", "Movies")</li>
                    <li>@Html.ActionLink("Create New", "Create", "Movies")</li>
                </ul>
            </li>
        </ul>


    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{


    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
